/Angular8/LearningStep/validations/validation/node_modules
/Angular8/LearningStep/validations/validation/.idea
/Angular8/LearningStep/Routing/Base/.idea
/Angular8/LearningStep/httpclient/base/.idea
/Angular8/LearningStep/httpclient/base-notes/.idea
